@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
	font-family:"黑体";
	}
body{
	padding:0;
	margin:0;
	}
.container{
	width:1440px;
	padding:0;
	margin:0 auto;
	background:#fafafa;
	}
.top{
	width:1440px;
	height:405px;
	background:url(../img/banner_m.png) no-repeat scroll;
	}




/*顶部右侧链接*/
.top .link_box{
	width:445px;
	height:60px;
	margin-top:40px;
	float:right;
	padding-left:192px;
	padding-top:22px;
	box-sizing:border-box;
	background:#a5dce8;
	}
.top .link_box a{
	text-decoration:none;
	font-size:16px;
	font-family:"黑体";
	color:#fff;
	}
.top .link_box .sy{
	color:#154b70;
	margin-right:46px;
	}
.top .link_box .sy:hover{
	color:#fff;
	}
.top .link_box a:hover{
	color:#154b70;
	}


/*下面的图片展示部分*/

.photo_box{
	width:1440px;
	height:1533px;
	padding-left:181px;
	padding-right:170px;
	box-sizing:border-box;
	margin-top:52px;
	}
/*图片介绍部分的公共项*/
.photo_box .show{
	text-align:center;
	}
.photo_box .show h3{
	font-size:22px;
	color:#376785;
	letter-spacing:4px;
	}
.photo_box .show p,span{
	font-size:20px;
	color:#86b6c0;
	letter-spacing:3px;
	}

/*定义每行图片的外包裹层*/
.photo_box .line1{
	width:1089px;
	height:597px;
	}
.photo_box .line2{
	width:1089px;
	height:580px;
	}
.photo_box .line3{
	width:1089px;
	height:356px;
	}
	
	
/*各个图片展示框*/
.photo_box .show1{
	width:334px;
	height:560px;
	float:left;
	margin-right:42px;
	transform:translateX(266px);
	}
.photo_box .show2{
	width:320px;
	height:406px;
	float:left;
	transform:translateX(252px);
	}
.photo_box .show3{
	width:335px;
	height:580px;
	float:left;
	transform:translate(43px,69px);
	margin-right:45px;
	}
.photo_box .show4{
	width:249px;
	height:467px;
	float:left;
	transform:translateX(42px);
	margin-right:36px;
	}
.photo_box .show5{
	width:324px;
	height:545px;
	float:left;
	transform:translate(42px,-191px);
	}
.photo_box .show6{
	
	height:356px;
	transform:translateX(210px);
	}
.photo_box .show6 .int_box{
	width:240px;
	text-align:center;
	float:left;
	margin-top:285px;
	}
.photo_box .show6>img{
	float:left;
	}



/*优秀作者部分*/

.yxzz{
	width:1440px;
	height:475px;
	padding-left:181px;
	padding-right:170px;
	margin-top:69px;
	box-sizing:border-box;
	}
.yxzz h2{
	text-align:center;
	font-size:24px;
	color:#376785;
	margin-top:27px;
	margin-bottom:18px;
	letter-spacing:4px;
	}
.yxzz .author .au{
	width:265px;
	height:325px;
	margin-right:120px;
	float:left;
	}
.yxzz .author .au p{
	text-align:center;
	font-size:22px;
	margin-top:26px;
	color:#376785;
	letter-spacing:3px;
	}
.yxzz .author .au>img{
	display:block;
	border-radius:50%;
	}
.yxzz .author .au3{
	margin-right:0px;
	}


/*翻页*/
.fy{
	width:1440px;
	height:97px;
	text-align:center;
	padding-top:50px;
	box-sizing:border-box;
	}
.fy a{
	font-size:20px;
	color:#7897ad;
	text-decoration:none;
	}
.fy a:hover{
	color:#315f80;
	}

.bottom{
	width:1440px;
	height:109px;
	background:url(../img/bottom.png) no-repeat scroll;
	overflow:hidden;
	}
.bottom p{
	font-size:14px;
	color:#a0d1d9;
	margin-top:68px;
	text-align:center;
	}